<div class="banner cocktail__banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= cocktail_image_path_for(@cocktail) %>)">
  <div class="container">
    <h1 class="cocktail__name"><%= @cocktail.name %></h1>
    <% if @cocktail.description %>
      <p class="cocktail__description"><%= @cocktail.description %></p>
    <% end %>
  </div>
  <div class="cocktail__actions">
    <%= link_to(edit_cocktail_path(@cocktail), class: "btn btn--secondary") do %>
      <%= icon('fas', 'edit') %>Edit
    <% end %>
    <%= link_to(cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--secondary") do %>
      <%= icon('fas', 'trash') %>Delete
    <% end %>
  </div>
</div>

<div class="row cocktail__ingredients">
  <div class="container">

    <div class="col-lg-6 ingredients__list">
      <h2>Ingredients</h2>
      <% @cocktail.doses.each do |dose| %>
        <p class="ingredients__item">
          <strong><%= dose.ingredient.name %></strong>
          -
          <%= dose.description %>
          (
            <%= link_to(dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }) do %>
              <%= icon('fas', 'trash') %>
            <% end %>
          )
        </p>
      <% end %>
    </div>

    <div class="col-lg-6 ingredients__add">
      <h2>Add an ingredient</h2>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, include_blank: false, collection: Ingredient.order(:name) %>
        <%= f.input :description %>
        <%= f.submit "Add ingredient", class: "btn btn--primary" %>
      <% end %>
    </div>

  </div>
</div>

<div class="row cocktail__reviews">
  <div class="container">

    <div class="col-lg-12 reviews__list">
      <h2>Reviews</h2>

      <div class="row">
        <% @cocktail.reviews.each do |review| %>
        <div class="review col-lg-3">
          <div class="review__stars">
            <% review.stars.times do %>
              <%= icon('fas star--full', 'star') %>
            <% end %>
            <% (5 - review.stars).times do %>
              <%= icon('fas star--empty', 'star') %>
            <% end %>
          </div>
          <p class="eview__content"><%= review.content %></p>
          <%= link_to(review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class: "review__delete") do %>
            <%= icon('fas', 'trash') %>Delete this review
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-12 reviews__add">
      <h2>Add a review</h2>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :stars, collection: [0, 1, 2, 3, 4, 5], include_blank: false %>
        <%= f.input :content %>
        <%= f.submit "Add review", class: "btn btn--primary" %>
      <% end %>
    </div>

  </div>
</div>
