<h1><%= @cocktail.name %></h1>

<div class="row">

  <div class="col-lg-6 ingredients__list">
    <h2>Ingredients</h2>
    <% @cocktail.doses.each do |dose| %>
      <p class="ingredients__item">
        <strong><%= dose.ingredient.name %></strong> -
        <%= dose.description %>
        (<%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>)
      </p>
    <% end %>
  </div>

  <div class="col-lg-6 ingredients__add">
    <h2>Add an ingredient</h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, include_blank: false %>
      <%= f.input :description %>
      <%= f.submit "Add this ingredient", class: "btn btn--primary" %>
    <% end %>
  </div>
</div>
