<!DOCTYPE html>
<html>
  <head>
    <title>Cocktailab</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <%= javascript_pack_tag "application" %>
  </body>
</html>
